*{

padding: 0;
margin: 0;
box-sizing: border-box;

}

body{

font-family: Arial, Helvetica, sans-serif;
color:  #333;
line-height: 1.7;
background: url(./imgprojeto/romantico.jpg);
background-size: cover;
background-repeat: no-repeat;

}
body::before {


content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255,255,255,0.2);
z-index: -1;

}

header {

background-color: #d91b60;
color: white;
padding: 2rem 2rem;
text-align: center;
box-shadow: 0 4px 11px rgba(0,0,0,0.3);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 2.6rem;
letter-spacing: 2px;
text-shadow: 0 0 15px rgba(0,0,0,0.5);
margin: 0;


}


main {

max-width: 1200px;
margin: 20px auto;
padding: 0.2rem;
background-color: rgba(255,255,255,0.95);
border-radius: 17px;
box-shadow: 0 0 20px rgba(0,0,0,0.2);

}
section{

padding: 2rem 0;
border-bottom: 1px solid #f8bbd0;

}

hr{

border: none;
height: 1px;
background-color: #f48fb1;
margin: 20px 0 ;

}

#mensagens-amor h2 {

color: #c2185b;
text-align: center;
margin-bottom: 1rem;


}

.frase-destaque {

font-style: italic;
font-size: 1.3rem;
text-align: center;
padding: 1.5rem;
background-color:  #f8bbd0;
border-radius: 11px;
border-left:  8px solid #d81b60;
color: #4a148c;

}

#galeria-fotos h2 {

color: #c2185b;
text-align: center;
margin-bottom: 1.6rem;

}

.conteudo-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 26px;
}

.foto-item {

overflow: hidden;
border-radius: 11px;
box-shadow: 0 6px 16px rgba(0,0,0,0.16);
transition: transform 0.2s ease;

}

.foto-item:hover{

    transform: scale(1.05);

}

.foto-item img {
    width: 100%;        
    height: auto;       
    display: block;
    object-fit: cover;
    aspect-ratio: 1/1;  

}

.aviso-carregamento{


text-align: center;
margin-top: 21px;
color:#666;
font-size: 0.9rem;

}

footer {

background-color: #333;
color: white;
text-align: center;
padding: 1.5rem 0;
margin-top: 31px;
border-radius: 0 0 15px 15px;
}

@media(min-width:600px) {

    header h1{

        font-size: 3rem;


    }

}
